.header {
  display: flex;
  height: 100px;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}

.logo {
  width: 40%;
  display: flex;
  align-items: center;
  font-size: 25px;
}

.menu ul {
  display: flex;
  gap: 40px;
  align-self: center;
  padding-top: 40px;
  font-size: 14px;
  align-content: end;
}

.menuItem {
  list-style-type: none;
}

.main {
  width: 100%;
  margin-top: 40px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mainDisclaimer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.mainText {
  width: 100%;
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.mainImage {
  width: 100%;
  height: 400px;
  margin-top: 30px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.mainButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.howItWorksBlockWrapper {
  margin-top: 60px;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-content: center;
}
.howItWorksBlock {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: fuchsia;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  padding: 40px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.button {
  width: 250px;
  height: 100px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  padding: 30px;
  border-radius: 12px;
  border: none;
  font-size: 16px;
}

.button:hover {
  background-color: orange;
}
@keyframes example {
  from {
    background-color: fuchsia;
  }
  to {
    background-color: orange;
  }
}
.filterButton {
  width: 150px;
  height: 150px;
  margin-bottom: 40px;
  background-color: fuchsia;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  padding: 20px;
  border-radius: 100px;
  border: none;
  font-size: 18px;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.filterButtonInactive {
  width: 150px;
  height: 150px;
  margin-bottom: 40px;
  background-color: blanchedalmond;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  padding: 20px;
  border-radius: 100px;
  border: none;
  font-size: 18px;
}

.footer {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  margin-top: 50px;
  position: fixed;
  bottom: 0;
  z-index: 100px;
  font-size: 14px;
}
.copyright {
  width: 40%;
  font-size: 16px;
}
.footerMenu {
  width: 60%;
  display: flex;
  align-content: flex-end;
}
.footerMenu ul {
  display: flex;
  align-content: space-between;
  gap: 20px;
  font-size: 12px;
}
.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.weather {
  display: flex;
  width: 100%;
  height: 100px;
  margin-top: 30px;
  display: flex;
  font-weight: bold;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 10px;
}

.weather img {
  border-radius: 10px;
  object-fit: cover;
  width: 50%;
  height: 100%;
}

.weatherGreeting {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.howItWorksFormComment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.form {
  display: flex;
  margin-top: 30px;
  gap: 20px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 8px;
  padding: 40px;
}

.form h3 {
  margin-bottom: 20px;
}

.addItemButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border: none;
  background: fuchsia;
  color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.addItemButton:hover {
  background: orange;
}

.submitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border: none;
  background: grey;
  color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.wardrobeAndOutfitsWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
  gap: 10px;
}

.wardrobeSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 600px;
  width: 50%;
  min-height: 300px;
  height: fit-content;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 8px;
  gap: 20px;
  padding: 20px;
}

.wardrobeSection img {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.outfitSection {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 600px;
  min-height: 300px;
  width: fit-content;
  height: fit-content;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.outfitSection img {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

@media (max-width: 700px) {
  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .header {
    display: flex;
    height: 100px;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .menu ul {
    gap: 50px;
    align-self: center;
    font-size: 16px;
  }
  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    align-items: center;
  }

  .mainDisclaimer {
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 100%;
  }

  .mainImage {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .mainButtonContainer {
    display: flex;
    justify-items: center;
  }
  .button {
    width: 180px;
    height: 100px;
    background-color: fuchsia;
    padding: 30px;
    border-radius: 12px;
    font-size: 14px;
    align-content: center;
  }

  .button:hover {
    background-color: orange;
  }
  @keyframes example {
    from {
      background-color: fuchsia;
    }
    to {
      background-color: orange;
    }
  }

  /*2nd page*/

  .createWardrobeWrapper {
    flex-direction: column;
  }

  .form {
    width: 100%;
    margin-top: 40px;
  }

  .wardrobeSection {
    width: 50%;
    gap: 20px;
    padding: 20px;
    height: fit-content;
  }
  .header {
    margin-top: 40px;
    flex-direction: column;
  }
  .logo {
    width: 100%;
    font-size: 20px;
  }

  .menu {
    align-items: center;
  }

  .footer {
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    gap: 10px;
  }
}
