.header {
  display: flex;
  height: 100px;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}

.logo {
  width: 40%;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.menu ul {
  display: flex;
  gap: 40px;
  align-self: center;
  padding-top: 40px;
  align-content: flex-end;
  font-size: 14px;
}

.menuItem {
  list-style-type: none;
}

.main {
  margin-top: 40px;
  justify-content: space-between;
  align-items: center;
}

.mainDisclaimer {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

.mainImage {
  width: 70%;
  border-radius: 6px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.mainButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}

.button {
  width: 200px;
  height: 200px;
  background-color: fuchsia;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  padding: 30px;
  border-radius: 100px;
  border: none;
  font-size: 18px;
}

.button:hover {
  background-color: orange;
}

.footer {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 100px;
  font-size: 14px;
}
.copyright {
  width: 40%;
  font-size: 16px;
}
.footerMenu {
  width: 60%;
  display: flex;
  align-content: flex-end;
}
.footerMenu ul {
  display: flex;
  align-content: space-between;
  gap: 20px;
  font-size: 12px;
}
.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.weather {
  display: flex;
  width: 100%;
  margin-top: 40px;
  display: flex;
  gap: 200px;
  font-weight: bold;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 10px;
}

.weather img {
  border-radius: 10px;
  object-fit: cover;
}

.createWardrobeWrapper {
  margin-top: 40px;
  display: flex;
}
.wardrobeSection {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gainsboro;
  width: 100%;
  /*height will be changed in order to add the new items
  */
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
/* .addItemButton {
  width: 50px;
  height: 50px;
} */

.addItemButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border: none;
  background: teal;
  color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.addItemButton:hover {
  background: orange;
}

.submitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border: none;
  background: grey;
  color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.createWardrobeWrapper {
  display: flex;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.form {
  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 8px;
  padding: 40px;
}

.form h3 {
  margin-bottom: 20px;
}

.wardrobeSection {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  background-image: url("https://images.unsplash.com/photo-1527519124254-9dafd8b3533b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80");
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 8px;
  gap: 20px;
  padding: 20px;
}

.wardrobeSection img {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

@media (max-width: 700px) {
  .createWardrobeWrapper {
    flex-direction: column;
  }

  .form {
    width: 100%;
    margin-top: 40px;
  }

  .wardrobeSection {
    width: 100%;
    gap: 20px;
    padding: 20px;
    height: fit-content;
  }

  .header {
    margin-top: 40px;
    flex-direction: column;
  }
  .logo {
    width: 100%;
    font-size: 20px;
  }

  .menu {
    align-items: center;
  }

  .footer {
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    gap: 10px;
  }
}
/* Responsive design section */
/* Mobile
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
/* @media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
} */
