.header {
  display: flex;
  height: 100px;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}

.logo {
  width: 40%;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.menu ul {
  display: flex;
  gap: 40px;
  align-self: center;
  padding-top: 40px;
  align-content: flex-end;
  font-size: 14px;
}

.menuItem {
  list-style-type: none;
}

.main {
  margin-top: 40px;
  justify-content: space-between;
  align-items: center;
}

.mainDisclaimer {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

.mainImage {
  width: 70%;
  border-radius: 6px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.mainButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}

.button {
  width: 200px;
  height: 200px;
  background-color: fuchsia;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  padding: 30px;
  border-radius: 100px;
  border: none;
  font-size: 18px;
}

.button:hover {
  background-color: orange;
}
@keyframes example {
  from {
    background-color: fuchsia;
  }
  to {
    background-color: orange;
  }
}
.filterButton {
  width: 150px;
  height: 150px;
  background-color: fuchsia;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  padding: 20px;
  border-radius: 100px;
  border: none;
  font-size: 18px;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform: translateY(-220px) translateX(350px);
}

.footer {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 100px;
  font-size: 14px;
}
.copyright {
  width: 40%;
  font-size: 16px;
}
.footerMenu {
  width: 60%;
  display: flex;
  align-content: flex-end;
}
.footerMenu ul {
  display: flex;
  align-content: space-between;
  gap: 20px;
  font-size: 12px;
}
.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.weather {
  display: flex;
  width: 60%;
  height: 100%;
  margin-top: 40px;
  display: flex;
  font-weight: bold;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 10px;
}

.weather img {
  border-radius: 10px;
  object-fit: cover;
  width: 50%;
  height: 100%;
}

.weatherGreeting {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.createWardrobeWrapper {
  display: flex;
}

.formContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.form {
  margin-top: 40px;
  width: 40%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 8px;
  padding: 40px;
}

.form h3 {
  margin-bottom: 20px;
}

.wardrobeSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /*height will be changed in order to add the new items
  */
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.addItemButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border: none;
  background: fuchsia;
  color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.addItemButton:hover {
  background: orange;
}

.submitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border: none;
  background: grey;
  color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.createWardrobeWrapper {
  /* display: flex; */
  gap: 20px;
}

.wardrobeAndOutfitsWrapper {
  display: flex;
  width: 100%;
  gap: 20px;
}

.wardrobeSection {
  height: fit-content;
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
  background-color: whitesmoke;
  /* background-image: url("https://images.unsplash.com/photo-1527519124254-9dafd8b3533b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80"); */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 8px;
  gap: 20px;
  padding: 20px;
}

.wardrobeSection img {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.outfitSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /*height will be changed in order to add the new items
  */
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.outfitSection {
  height: fit-content;
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
  background-color: whitesmoke;
  /* background-color: whitesmoke; */
  /* background-image: url("https://images.unsplash.com/photo-1527519124254-9dafd8b3533b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80"); */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 8px;
  gap: 20px;
  padding: 80px;
}

.outfitSection img {
  border-radius: 8px;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px; */
}

@media (max-width: 700px) {
  .createWardrobeWrapper {
    flex-direction: column;
  }

  .form {
    width: 100%;
    margin-top: 40px;
  }

  .wardrobeSection {
    width: 50%;
    gap: 20px;
    padding: 20px;
    height: fit-content;
  }

  .header {
    margin-top: 40px;
    flex-direction: column;
  }
  .logo {
    width: 100%;
    font-size: 20px;
  }

  .menu {
    align-items: center;
  }

  .footer {
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    gap: 10px;
  }
}
